.box {
  width: 600px;
  margin: 0 auto;
  font-family: Arial;
}
.box h2{
  
  text-align: center;
}

ul {
  padding: 20px 30px;
}
li{
    list-style: none;
}
#check {
  margin: 0 auto;
  display: block;
  background-color: #cee2f2;
  width: 325px;
  height: 55px;
  border: 2px solid #000;
  font-size: 16px;
}
#modal_form {
  width: 300px; 
  height: 80px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed; 
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 5; 
  padding: 20px 10px;
  font-size: 1.5em;
  text-align: center;
}

#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
  z-index: 10;

}

#overlay {
  z-index:3; 
  position:fixed;
  background-color:#000;
  opacity:0.8; 
  -moz-opacity:0.8; 
  filter:alpha(opacity=80);
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  cursor:pointer;
  display:none;
}