<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
   <script src="https://code.jquery.com/jquery-3.1.0.min.js" 
  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" 
  crossorigin="anonymous"></script>
  <script src = "js/tmpl.js"></script>
  <script src = "js/script.js"></script> 
</head>
<body>

  <ul id="results">
  output results here.
  </ul>


  <!-- Script for template -->

<script type="text/html" id="test_tmpl">
  <form class="box" method="post" action="#">
    <h2 class="title"><%= title %></h2>
    <% for(var i=0;i<questions.length;i++){%>
    <li> <%=i+1%>. <%=questions[i]%></li> 
    <ul>
      <% for(var j=0;j<answers[i].length;j++){%>
        <li id =a<%=i%><%=j%>>
          <input value="<%=j%>"  type = radio id =<%=i%><%=j%>a name = a<%=i%> >
          <label for="<%=i%><%=j%>a"> <%=answers[i][j]%> </label>
        </li> 
      <% } %>
    </ul>
    <% } %>
    <button type="submit" id = "check">Проверить мои результаты</button>
  </form>
</script>

<!--   Script for checking results -->

<script>
$(function() {
    var sum = 0;
    $('form').on('submit', function(e) {
        e.preventDefault();
  
        $('#overlay').fadeIn(400, 
          function(){ 
            $('#modal_form') 
              .css('display', 'block')
              .text('Правильных ответов'+' '+sum)
              .animate({opacity: 1, top: '50%'}, 200); 
        });
      
        $('#modal_close, #overlay').click( function(){ 
          $('#modal_form')
            .animate({opacity: 0, top: '45%'}, 200,
              function(){ 
                $(this).css('display', 'none');
                $('#overlay').fadeOut(400);
              }
            );

        for (var i = 0; i < $("#results input:checked").length; i++) {
          if (test1.right[i] == $($("#results input:checked")[i]).val()) {
            sum++;
          }
        }

        $('form').trigger( 'reset' );
        });
      });
      });

</script>

  <!-- Modal window -->

  <div id="modal_form">

      <span id="modal_close">X</span> 
      
</div>
<div id="overlay"></div>

</body>
</html>
